a {
	text-decoration: none;
	color: white;
	font-size: 0.8em;
}

a:hover {
	text-decoration: underline;
	opacity: 0.5;
}


h1, h2, h3, h4, h5 {
	font-family: Tahoma, Geneva, sans-serif;
}

body {
	font-family: Georgia, serif;
	font-size: 2em;
	background-image: url("images/paper-bag.gif");
	background-repeat: no-repeat;
	background-color: white;
	color: white;
	text-align: center;
	margin: 10%;
}

button {
	font-size: .5em;
	padding: 5px;
	border-radius: 8px;
	border: none;
	color: #C79562;
	background-color: white;
}

img {
	opacity: 1;
}

h2 {
	color: white;
}
