/login_page/db.sqlite3
login_page/ShopLyfe/__pycache__/forms.cpython-36.pyc
login_page/ShopLyfe/__pycache__/settings.cpython-36.p
login_page/ShopLyfe/__pycache__/urls.cpython-36.pyc
login_page/ShopLyfe/__pycache__/views.cpython-36.pyc