{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'loginpage/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'loginpage/style.css' %}" />
  <meta charset="utf-8">
  <title>{% block title %}Welcome to ShopLyfe!{% endblock %}</title>
</head>
<body class="vertical">
  <span class="horizontal">
  <div id="content">
    <header>
  	  <h1><b>Welcome to ShopLyfe!</b></h1>
    </header>
    <!--<h2>Please <a href="{% url 'login' %}">login</a></h2>
    <h2>or <a href="{% url 'signup' %}">sign up</a></h2>-->
    <h2><b>Please</b></h2><a href="{% url 'login' %}"><button type="button" class="btn btn-danger">Login</button></a>
      <h2><b>or</b></h2><a href="{% url 'signup' %}"><button type="button" class="btn btn-danger">Signup</button></div></a>
  </div>
  </span>
<!--   <hr>
  <main>
    {% block content %}
	ShopLyfe
    {% endblock %}
  </main>
  <hr> -->
</body>
</html>
