{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'loginpage/style.css' %}" />
  <meta charset="utf-8">
  <title>{% block title %}Logout{% endblock %}</title>
</head>

{% block content %}
<body class="vertical">
  <span class="horizontal">
<div id="content">
  <h2><b>Logged out</b></h2>
  <p>You have been successfully logged out.</p>
  <a href="{% url 'login' %}"><button type="button" class="btn btn-danger">Login</button></a>
  <a href="{% url 'start' %}"><button type="button" class="btn btn-danger">Home</button></a>
</div>
</span>
</body>
{% endblock %}
</html>