{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'loginpage/style.css' %}" />
  <meta charset="utf-8">
  <title>{% block title %}Logout{% endblock %}</title>
</head>

{% block content %}
<body class="vertical">
  <span class="horizontal">
<div id="content">
  <h1><b>Logged out</b></h1>
  <p>You have been successfully logged out.</p>
  <p><a href="{% url 'login' %}">Login</a> or go to
  <a href="{% url 'start' %}">Home</a></p>
</div>
</span>
</body>
{% endblock %}
</html>