{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'loginpage/style.css' %}" />
  <meta charset="utf-8">
  <title>{% block title %}Welcome to ShopLyfe!{% endblock %}</title>
</head>
{% block content %}
<body class="vertical">
  <span class="horizontal">
<div id="content">
  <h1><b>Login</b></h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-danger">Enter</button>
	<!--<button href="{% url 'signup' %}" class="btn btn-danger">Sign Up</button>-->
  </form>
 </div>
</span>
</body>
{% endblock %}
</html>