<html>
<head>
</head>
<body>
	<h1>{{ recipe.recipe_name }}</h1>

	{% if error_message %}
		<p>
			<strong>{{ error_message }}</strong>
		</p>
	{% endif %}

	<ul>
		<li>Tag: {{ recipe.recipe_tag }}</li>
		<li>Prep Time: {{ recipe.prep_time }}</li>
		<li>Cook Time: {{ recipe.cook_time }}</li>
	</ul>

	<h3>Ingredients</h2>

	<ul>
		{% for ingredient in recipe.ingredient_set.all %}
			<li>
				Name: {{ ingredient.ingredient_name }}
				<br>
				Quantity: {{ ingredient.ingredient_quantity }} {{ ingredient.quantity_type }}
				<br>

			</li>
		{% endfor %}
	</ul>

	<!-- <h2>{{ ingredient.ingredient_name }}</h2>
	<ul>
		<li>Quantity: {{ ingredient.ingredient_quantity }}</li>
	</ul> -->

	<!-- <ul>
		{% for choice in question.choice_set.all %}
			<li>{{ choice.choice_text }}</li>
		{% endfor %}
	</ul> -->
</body>
</html>