.horizontal {
    display: flex;
    justify-content: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list {
    padding: 0 10%;
    text-align: left;
}

.ingredientsList {
	text-transform: lowercase;
}

.ingredients {
    color: white;
    padding: 6px;
    font-size: 0.5em;
    display: inline-block;
    background-color: tomato;
    font-variant: all-petite-caps;
    text-transform: lowercase;
}

.ingredients::before {
	content: '\0078';
    font-size: 0.5em;
    padding: 4px;
    vertical-align: middle;
}

.tags {
	text-transform: lowercase;
    color: white;
    padding: 6px;
    font-size: 0.5em;
    display: inline-block;
    background-color: #C79562;
    font-variant: all-petite-caps;
}

.tags::before {
	content: '\0078';
    font-size: 0.5em;
    padding: 4px;
    vertical-align: middle;
}

.recipe {
	color: #C79562;
}

#recipeList::after {
	content: '\00002b';
    padding: 5px;
    font-size: 0.8em;
}

i {
	padding-right: 5px;
}

a {
	text-decoration: none;
	color: firebrick;
}

a:hover {
	color: silver;
	opacity: 0.8;
}

header {
	font-family: Georgia, serif;
}

body {
	font-size: 2em;
	background-image: url("images/paper-bag.gif");
	background-repeat: repeat-y;
	background-color: white;
	color: white;
	text-align: center;
	bottom: 0%;
    overflow-y:scroll;
    overflow-x:hidden;
}

h2 {
    font-size: 1.3em;
}

h3 {
	font-size: .7em;
}

.measurements {
    display: block;
    color: silver;
    text-transform: lowercase;
    font-size: 0.7em;
    font-family: monospace;
}

p {
	font-family: Arial, Helvetica, sans-serif;
}

small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.6em;
}

#nav {
    display: block;
    font-size: .7em;
    width: 16%;
    border: 5px solid white;
    border-radius: 0px 0px 25px 25px;
    background-color: white;
    color: #C79562;
    opacity: 0.8;
    position: fixed;
    top: 0;
}

#content {
    width: 40%;
    border: 30px solid white;
    border-radius: 25px;
    background-color: white;
    color: #C79562;
    opacity: 0.8;
    margin-top: 3%;
}

button {
	font-size: .9em;
	padding: 5px;
	border-radius: 8px;
	border: none;
	color: white;
	background-color: #C79562;
}

button:hover {
	cursor: pointer;
	opacity: 0.8;
}

img {
	opacity: 1;
}

form {
	font-size: .8em;
}

input {
	background-color: #C79562;
	border: none;
	height: 25px;
	color: white;
}