{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
  <meta charset="utf-8">
  <title>{% block title %}Welcome to ShopLyfe!{% endblock %}</title>
</head>
<body>
  <header>
	  <h1> Welcome to ShopLyfe!<h1>
  </header>
  <h2> Please <a href="{% url 'login' %}">login</a> <h2>
  <h2> or <a href="{% url 'signup' %}">sign up</a> <h2>
  <hr>
  <main>
    {% block content %}
	ShopLyfe
    {% endblock %}
  </main>
  <hr>
</body>
</html>