{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
  <meta charset="utf-8">
  <title>{% block title %}ShopLyfe Homepage{% endblock %}</title>
</head>
<body class="vertical">
  <span class="horizontal">
<div id="content">
<header>
	<h1>Welcome, {{ user.first_name }}!</h1>
    <p>You can navigate to your recipes and shopping list from here:</p>
    <h3><a href="{% url 'logout' %}">logout</a></h3>
</header>
</div>
</span>
</body>
<!-- {% block content %}
  <h2>Homepage</h2>
{% endblock %} -->
</html>