{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />
  <link rel="stylesheet" href="{% static 'homepage/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $(".ingredients").click(function() {
        if ($(this).css("opacity") !== "0.3") {
          $(this).css("opacity", "0.3");
        }
        else $(this).css("opacity", "1");
      });
      $("button[name='add']").click(function() {
        $("#content").append('<h1>New Ingredient</h1>');
        console.log("meow");
      });
    })
  </script>
  <title>{% block title %}ShopLyfe{% endblock %}</title>
<!--<script>
    $('.ingredient-formset').formset({
        addText: 'add ingredient',
        deleteText: 'remove'
    });
</script>-->
  <meta charset="utf-8">
</head>
 <div id="nav" class="horizontal">
  {% if user.is_authenticated %}
    <p><a href="{% url 'shopping_list' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Shopping List</a></p>
    <p><a href="{% url 'recipes_view' %}"><i class="fa fa-cutlery" aria-hidden="true"></i>Recipes</a></p>
    <p><a href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i>Home</a></p>
    <p><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></p>
  {% else %}
    <p><a href="{% url 'login' %}">Login</a></p>
    <p>or <a href="{% url 'signup' %}">sign up</a></p>
  {% endif %}
</div>
<body class="vertical">
<span class="horizontal">
<div id="content">
  {% if user.is_authenticated %}
    {% block content %}
    {% endblock %}
  {% else %}
    {% block login %}
    <header>
          <h1>Hello, please login!</h1>
          <p><a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">sign up</a></p>
    </header>
    {% endblock %}
  {% endif %}
</div>
</span>
</body>
</html>