
{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />
  <meta charset="utf-8">
  <title>{% block title %}ShopLyfe Homepage{% endblock %}</title>
</head>
<body class="vertical">
  <span class="horizontal">
<div id="content">
<header>
    {% block content %}
        {% if user.is_authenticated %}
            <h1>Welcome, {{ user.username}}!</h1>
            <p>You can navigate to your recipes and shopping list from here:</p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
            <h1>Hello, please login!<h1>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
     {% endblock %}
</header>
</div>
</span>
</body>
</html>
