{% extends './base.html' %}
{% load static %}
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <title>{% block title %}ShopLyfe Homepage{% endblock %}</title>
</head>

<body class="vertical">
<span class="horizontal">  
<div id="content">
<header>
    {% block content %}
        {% if user.is_authenticated %}
            <h1><b>Welcome, {{ user.first_name}}!</b></h1>
			
            <p id="msg">You can navigate to your recipes and shopping list from here </p>
            <!--<p><a href="{% url 'recipes_view' %}">Recipes</a></p> -->
        {% else %}
            <h3><b>Hello, please login or sign up.</b></h3>
        {% endif %}
	<script>
		var canvas = document.body.clientWidth;
		var log = document.getElementById("msg");
		var text1 = document.createTextNode("located on the top right of the screen.")
		var text2 = document.createTextNode("using the navigation bar located to the left of the screen.")
		if (screen.width <= 480) log.appendChild(text1);
		else log.appendChild(text2);
	</script> 
     {% endblock %}
</header>
</div>
</span>
</body>
</html>
