{% extends './base.html' %}
<html>
<head>
  <title>{% block title %}Recipes{% endblock %}</title>
</head>
<body class="vertical">
  <span class="horizontal">
    <div id="content">
      <header>
        {% block content %}
          <h2>Here are your recipes, {{ user.username}}:</h2>
            {% if latest_recipe_list %}
              <div class="list">
                {% for recipe in latest_recipe_list %}
                 <p id="recipeList"><a href="/home/recipes/{{ recipe.id }}/">{{ recipe.recipe_name }}</a></p>
                {% endfor %}
                <small><a href="{%url 'add_recipe' %}">Add Recipes +</small>
            {% else %}
                <p>No recipes] are available.</p>
                </div>
            {% endif %}
        {% endblock %}
      </header>
    </div>
  </span>
</body>
</html>
