{% extends './base.html' %}
<html>
<head>
	<title>{% block title %}{{ recipe.recipe_name}} Details{% endblock %}</title>
</head>
<body class="vertical">
<span class="horizontal">
<div id="content">
	{% block content %}
			<h1>{{ recipe.recipe_name }}</h1>
		{% if error_message %}
			<p><strong>{{ error_message }}</strong></p>
		{% endif %}
			<font size = 5>
			Tag: <button class="tags">{{ recipe.recipe_tag }}</button> <br />
			Prep Time: {{ recipe.prep_time }} <br />
			Cook Time: {{ recipe.cook_time }} <br />
			</font>
			<h2>Ingredients</h2>
			{% for ingredient in recipe.ingredient_set.all %}
			<h3 class="ingredientsList">{{ ingredient.ingredient_name }}
				<span class="measurements">{{ ingredient.ingredient_quantity }} {{ ingredient.quantity_type }}</span>
			</h3>
		{% endfor %}
		<small><a href="{%url 'recipes_view' %}">Back</small>
	{% endblock %}
</div>
</span>
</body>
</html>