{% extends './base.html' %}
<html>
<head>
  <title>{% block title %}{{ recipe.recipe_name}} Details{% endblock %}</title>
  <script type="text/javascript">
    $(function() {
        $('#myForm tbody tr').formset();
    })
  </script>
</head>

<h1>Here is your recipe form.</h1>
{% block content %}
    <h1>Recipe Details:</h1>
    <form id = "myForm" method="POST">
	{% csrf_token %}
        {{ recipe_form.as_p }}
		<h1> Ingredient Details: </h1>
		{{ ingredient_formset.management_form }}
		{% for ingredient_form in ingredient_formset %}
		<tr>
			<td>Ingredient Name: {{ingredient_form.ingredient_name}}</td><br>
			<td>Ingredient Amount: {{ingredient_form.ingredient_quantity}}</td><br>
			<td>Measuring Unit: {{ingredient_form.quantity_type}}</td><br>
		</tr>
		{% endfor %} </br>
        <button type="submit" name="add">Add Another Ingredient +</button>
        <button type="submit" name="done">Done</button>
    </form>
{% endblock %}
