{% extends './base.html' %}
<html>
<head>
  <title>{% block title %}Shopping List{% endblock %}</title>
</head>
<body class="vertical">
<span class="horizontal">
<div id="content">
<header>
    {% block content %}
            <h2>Here is your shopping list, {{ user.username}}:</h2>
      {% if latest_recipe_list %}
        {% for recipe in latest_recipe_list %}
          <p class="recipe">{{recipe.recipe_name}}</p>
          {% for ingredient in recipe.ingredient_set.all %}
            <button class="ingredients">{{ ingredient.ingredient_name }}</button>
          {% endfor %}
        {% endfor %}
      {% else %}
        <p>You have nothing in your grocery list.</p>
      {% endif %}
     {% endblock %}
</div>
</span>
</body>
</html>